.logon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.logon-container section.form {
  width: 400px;
  background: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logon-container section.form img {
  width: 200px;
  margin: 10px 0 40px;
}

.logon-container section.form p {
  color: #ff3333;
  margin-bottom: 15px;
  border: 1px solid #ff3333;
  padding: 10px;
  width: 100%;
  text-align: center;
}

.logon-container section.form h1 {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.logon-container section.form input {
  flex: 1;
  height: 46px;
  margin-bottom: 10px;
  padding: 0 20px;
  color: #777;
  font-size: 15px;
  width: 100%;
  border: 1px solid #ddd;
}

.logon-container section.form button {
  color: #fff;
  font-size: 16px;
  background: #fc6963;
  height: 56px;
  border: 0;
  border-radius: 5px;
  width: 100%;
}

.logon-container section.form hr {
  margin: 20px 0;
  border: none;
  border-bottom: 1px solid #cdcdcd;
  width: 100%;
}

.logon-container section.form a {
  font-size: 16;
  font-weight: bold;
  text-decoration: none;
}


