.register-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-container section.form {
  margin-top: 80px;
  width: 600px;
  background: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-container section.form img {
  width: 250px;
  margin: 10px 0 40px;
}

.register-container section.form h1 {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}



/* .register-container form {
  margin: 80px auto;
  padding: 64px;
  max-width: 540px;
  background: #FFF;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
} */


.register-container section.form fieldset {
  margin-top: 32px;
  min-inline-size: auto;
  border: 0;
}

.register-container section.form legend {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.register-container section.form legend h2 {
  font-size: 24px;
}

.register-container section.form legend span {
  font-size: 14px;
  font-weight: normal;
  color: var(--text-color);
}

.register-container section.form .field-group {
  flex: 1;
  display: flex;
}

.register-container section.form .field {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

.register-container section.form .field input[type=text],
.register-container section.form .field input[type=email],
.register-container section.form .field input[type=password],
.register-container section.form .field input[type=number] {
  flex: 1;
  height: 46px;
  padding: 0 20px;
  color: #777;
  font-size: 16px;
  width: 100%;
  border: 1px solid #ddd;
}

.register-container section.form .field select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  flex: 1;
  border-radius: 8px;
  border: 1px solid #ddd;
  padding: 16px 24px;
  font-size: 16px;
  color: #777;
  background-color: #fff;
}

.register-container section.form .field input::placeholder {
  color: #A0A0B2;
}

.register-container section.form .field label {
  font-size: 14px;
  margin-bottom: 8px;
}

.register-container section.form .field :disabled {
  cursor: not-allowed;
}

.register-container section.form .field-group .field + .field {
  margin-left: 24px;
}

.register-container section.form .field-group input + input {
  margin-left: 24px;
}

.register-container section.form .field-check {
  flex-direction: row;
  align-items: center;
}

.register-container section.form .field-check input[type=checkbox] {
  background: #F0F0F5;
}

.register-container section.form .field-check label {
  margin: 0 0 0 8px;
}

.register-container section.form .leaflet-container {
  width: 100%;
  height: 350px;
  border-radius: 8px;
  margin-bottom: 24px;
}

.register-container section.form button {
  color: #fff;
  font-size: 16px;
  background: #fc6963;
  height: 56px;
  border: 0;
  border-radius: 5px;
  width: 100%;
}

.register-container form button:hover {
  opacity: 0.8;
}

.register-container section.form hr {
  margin: 20px 0;
  border: none;
  border-bottom: 1px solid #cdcdcd;
  width: 100%;
}

.register-container section.form a {
  font-size: 16;
  font-weight: bold;
  text-decoration: none;
}






/**
.register-container {
  width: 100%;
  max-width: 1120px;
  height: 100vh;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;
}

.register-container .content {
  width: 100%;
  padding: 90px;
  background: #f0f0f5;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
  border-radius: 8px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.register-container .content section {
  width: 100%;
  max-width: 380px;
}

.register-container .content section h1 {
  margin: 64px 0 32px;
  font-size: 32px;
}

.register-container .content section p {
  font-size: 18px;
  color: #737380;
  line-height: 32px;
}

.register-container .content form {
  width: 100%;
  max-width: 380px;
}

.register-container .content form input {
  margin-top: 8px;
}

.register-container .content form .field {
  margin-top: 8px;
  flex: 1;

  display: flex;
  flex-direction: column;
}

.register-container .content form .field select {
  width: 100%;
 
  color: #737380;
  border: 1px solid #dcdce6;
  border-radius: 8px;
  padding: 0 24px;
  flex: 1;
  background: #FFF; 
  height: 60px;
}
*/ 


